html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}

button{
    margin: 0;
    border: none; 
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, li, ol {
    /*list-style: none;*/
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.container {
    max-width: 1780px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.main-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.sub-title{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.water-supply__list{
    margin-left: 20px;
    margin-bottom: 70px;
}

.water-supply__given{
    display: block;
    margin: 10px 0;
}

.water-supply__formula{
    position: relative;
    width: 200px;
	height: 27px;
   /* background:;*/
    margin: 45px 0;
}

.formula-row{
    position: absolute;
    top: 13px;
    right: 10px;
    height: 1px;
    width: 150px;
    background-color: #000;
}

.numerator{
    position: absolute;
    top: -17px;
    right: 45px;
}

.denominator{
    position: absolute;
    bottom: -17px;
    right: 25px;
}

.water-supply__total{
    position: absolute;
    top: 5px;
    right: -60px;
}

.formula-row-two{
    position: absolute;
    top: 13px;
    right: -10px;
    height: 1px;
    width: 150px;
    background-color: #000;
}

.numerator-two{
    position: absolute;
    top: -17px;
    right: 6px;
}

.numerator-three{
    position: absolute;
    top: -17px;
    right: 45px;
}

.denominator-two{
    position: absolute;
    bottom: -17px;
    right: 40px;
}

.water-supply__total-two{
    position: absolute;
    top: 5px;
    right: -85px;
}

.water-supply__total-three{
    font-weight: 700;
    position: absolute;
    top: 0px;
    right: -105px;
}

.water-supply__main-given,
.water-supply__answer-N-tot,
.water-supply__answer-N-h,
.water-supply__answer-main,
.water-supply__answer-sec-tot,
.water-supply__answer-sec-c,
.water-supply__answer-sec-h,
.water-supply__answer-NP-tot,
.water-supply__answer-NP-c,
.water-supply__answer-NP-h,
.water-supply__answer-alpha-tot,
.water-supply__answer-alpha-c,
.water-supply__answer-alpha-h,
.water-supply__answer-q-tot,
.water-supply__answer-q-h,
.water-supply__answer-hour-tot,
.water-supply__answer-hour-c,
.water-supply__answer-hour-h,
.water-supply__answer-alpha-tot-hr,
.water-supply__answer-alpha-c-hr,
.water-supply__answer-alpha-h-hr,
.water-supply__answer-q-tot-hr,
.water-supply__answer-q-c-hr,
.water-supply__answer-q-h-hr,
.water-supply__answer-final,
.water-supply__answer-NP-tot-hr,
.water-supply__answer-NP-c-hr,
.water-supply__answer-NP-h-hr,
.water-supply__answer-q-c,
.water-supply__answer-task-two-two,
.water-supply__answer-task-two-three,
.water-supply__installation-diameter-one,
.water-supply__answer-task-two-five,
.water-supply__answer-task-two-nine,
.water-supply__answer-task-two-six,
.water-supply__answer-task-two-ten,
.water-supply__answer-task-two-eleven,
.water-supply__answer-task-two-thirteen,
.water-supply__answer-task-two-twelve,
.water-supply__answer-task-two-fourteen,
.water-supply__answer-task-two-fifteen,
.water-supply__answer-task-two-sixteen,
.water-supply__answer-task-two-seventeen,
.water-supply__task-three-answer--one,
.water-supply__task-three-answer--two,
.water-supply__task-three-answer--three,
.water-supply__task-three-answer--four,
.water-supply__task-three-answer--five{
    font-weight: 700;
}

.attention{
    color: red;
}